 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/20171010_123847.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 934px;
}

.u-section-1 .u-shape-1 {
  width: 430px;
  --radius: 10px;
  height: 689px;
  background-image: none;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin: 58px 35px 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 407px;
  background-image: none;
  margin: -665px 47px 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 682px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 70px 0 60px;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  margin: 10px 30px 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 70px 0 60px;
}

.u-section-1 .u-text-4 {
  margin: 20px 70px 0 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 70px 0 60px;
}

.u-section-1 .u-text-6 {
  width: 263px;
  margin: 16px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-1 .u-text-2 {
    font-weight: normal;
  }

  .u-section-1 .u-text-6 {
    width: 101px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 37px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 37px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 36px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 36px;
    margin-left: 27px;
  }
}