.u-section-1 .u-sheet-1 {
  min-height: 1183px;
}

.u-section-1 .u-shape-1 {
  width: 711px;
  height: 711px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 380px 56px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 779px;
  height: 779px;
  background-image: url("images/150501-DAMCO_9CorymbiaGrove_SthMorang54381.jpg");
  background-position: 18.4% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -1047px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 610px;
  height: 610px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -422px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 66px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  width: 418px;
  margin: 23px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  font-weight: 700;
  border-style: solid;
  margin: 22px auto 0;
  padding: 16px 52px 16px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 2.875rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1124px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 9px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 720px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -363px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.625rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    height: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: -876px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    height: 540px;
    margin-top: -183px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -676px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    height: 340px;
    margin-top: 17px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 110px;
    padding-right: 110px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1353px;
}

.u-section-2 .u-shape-1 {
  width: 783px;
  height: 733px;
  background-position: 50% 0vh;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: rotate(0deg);
  margin: -149px 30px 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 858px;
  height: 735px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -461px 0 0 auto;
}

.u-section-2 .u-image-1 {
  width: 692px;
  height: 692px;
  background-image: url("images/DSC05258.jpg");
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  background-position: 50% 50%;
  margin: -818px 55px 0 auto;
}

.u-section-2 .u-group-1 {
  width: 629px;
  min-height: 679px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  height: auto;
  margin: -235px auto 0 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 13px;
}

.u-section-2 .u-text-1 {
  font-size: 2.5rem;
  margin: 44px 30px 0;
}

.u-section-2 .u-text-2 {
  margin: 13px 30px 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 126px 0 21px auto;
  padding: 0 21px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    --animation-custom_in-translate_x: -300px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-2 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1321px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
  }

  .u-section-2 .u-shape-2 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-top: -83px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1054px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: 117px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1157px;
}

.u-section-3 .u-text-1 {
  margin: 45px auto 0;
}

.u-section-3 .u-shape-1 {
  background-image: none;
  height: 698px;
  margin-top: 159px;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-1 {
  width: 985px;
  height: 1015px;
  grid-gap: 10px 10px;
  margin: -856px auto 45px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-9 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1368px;
  }

  .u-section-3 .u-shape-1 {
    height: 649px;
    margin-top: 20px;
  }

  .u-section-3 .u-gallery-1 {
    width: 810px;
    height: 881px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2277px;
  }

  .u-section-3 .u-shape-1 {
    height: 1226px;
    margin-top: 159px;
  }

  .u-section-3 .u-gallery-1 {
    width: 613px;
    height: 1717px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 80px;
    height: 80px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 80px;
    height: 80px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 80px;
    height: 80px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 80px;
    height: 80px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 80px;
    height: 80px;
  }

  .u-section-3 .u-carousel-thumbnail-6 {
    width: 80px;
    height: 80px;
  }

  .u-section-3 .u-carousel-thumbnail-7 {
    width: 80px;
    height: 80px;
  }

  .u-section-3 .u-carousel-thumbnail-8 {
    width: 80px;
    height: 80px;
  }

  .u-section-3 .u-carousel-thumbnail-9 {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 6018px;
  }

  .u-section-3 .u-shape-1 {
    height: 4226px;
    width: 487px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-gallery-1 {
    width: 493px;
    height: 5475px;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-carousel-thumbnail-6 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-carousel-thumbnail-7 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-carousel-thumbnail-8 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-carousel-thumbnail-9 {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3672px;
  }

  .u-section-3 .u-shape-1 {
    height: 2899px;
    width: 290px;
  }

  .u-section-3 .u-gallery-1 {
    width: 284px;
    height: 3155px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 38px;
    height: 38px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 38px;
    height: 38px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 38px;
    height: 38px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 38px;
    height: 38px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 38px;
    height: 38px;
  }

  .u-section-3 .u-carousel-thumbnail-6 {
    width: 38px;
    height: 38px;
  }

  .u-section-3 .u-carousel-thumbnail-7 {
    width: 38px;
    height: 38px;
  }

  .u-section-3 .u-carousel-thumbnail-8 {
    width: 38px;
    height: 38px;
  }

  .u-section-3 .u-carousel-thumbnail-9 {
    width: 38px;
    height: 38px;
  }
}